/* - МОБИЛЬНАЯ ВЕРСИЯ - */
@media (max-width: 249px) or (min-width: 481px) {
  main,
  header,
  footer {
    display: none;
  }
  .error{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  zoom:0.1;
}
  .error_text, .error_dev{
  font-family: "Montserrat", "Montserrat bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
}
@media (min-width: 250px) and (max-width: 330px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .error,
  .error_text,
  .error_dev {
    display: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    /* border: 3px solid red; */
    position: fixed;
    top: 1%;
    right: 50%;
    width: 5%;
    height: 4%;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    /*height: 2px;*/
    height: 0.22vh;
    background-color: #989595;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    /* top: -8px;*/
    top: -1vh;
  }
  .menu__btn > span::after {
    content: "";
    /*top: 8px;*/
    top: 1vh;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 1vh 0;
    list-style: none;
    background-color: #fffafa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -1vh;
    margin-bottom: 2vh;
    zoom: 0.9;
  }
  .static {
    display: inline-block;
    width: 100vw;
    z-index: 2;
    height: 6vh;
    position: fixed;
  }
  .static__header {
    display: inline-block;
    position: fixed;
    height: 6vh;
  }
  .static__header_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0vh;
    padding-top: 0.5vh;
    padding-left: 4.5vw;
    margin-bottom: 0vh;
    zoom: 0.8;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2.2%;
    margin-bottom: 7%;
    margin-left: -30%;
    margin-right: 7%;
    padding-right: 10%;
    color: rgb(11, 11, 11);
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.25s;
  }
  .menu__curve_left {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -120vh;
  }
  .menu__curve_right {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 15vh;
    margin-left: 20vw;
  }
  .menu__item_button-choose-diet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    background-color: rgba(150, 25, 20, 1);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    width: 60vw;
    height: 6.5vh;
    text-align: center;
  }
  .menu__item_button-choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
    text-align: center;
  }
  .startPage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 0%;
    background-image: url("../img/DogMobile.jpg");
    /*url("../images/decoration/team-decoration.svg")*/
    background-repeat: no-repeat;
    background-size: cover;
  }
  .startPage__texts {
    display: flex;
    flex-direction: row;
  }
  .startPage__texts_titleMobile {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 0.6%;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 19%;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.4rem;
    font-family: "Oswald", sans-serif, bold;
    letter-spacing: 0.02rem;
    line-height: 130%;
  }
  .startPage__texts_ellipse {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-right: 0%; */
    /* margin-left: 0%; */
    /* margin-top: -20%; */
    position: absolute;
    top: 42.5%;
    right: 100%;
    zoom: 0.88;
    left: -0.5%;
    transform: matrix(1, -0.09, 0.14, 1, 0, 0);
  }
  .startPage__description {
    display: none;
  }
  .startPage__button_choose-diet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 295%;
    margin-left: -210%;
    background-color: rgba(150, 25, 20, 1);
    border-radius: 10px;
    /* color: #ffffff; */
    /* text-align: center; */
    font-family: "Montserrat", "Montserrat bold", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 55vw;
    height: 6vh;
    text-align: center;
  }
  .startPage__button_choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 14%; */
    /* margin-bottom: 6%; */
  }
  .startPage__ZOOOV {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 105%;
    margin-left: -110%;
    opacity: 70%;
    /* border: 2px solid red; */
  }
  .menu__item:hover {
    color: rgba(117, 17, 13, 1);
    text-decoration: underline;
    cursor: pointer;
  }

  .menu__item_button-choose-diet:hover,
  .startPage__button_choose-diet:hover,
  .startPage__buton:hover {
    background-color: rgba(117, 17, 13, 1);
    cursor: pointer;
  }
  /* Лиза — начало кода CSS*/
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  .about__headline {
    width: 90%;
    margin-bottom: 1vh;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .about__description {
    width: 87vw;
    margin-bottom: 1vh;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #434242;
  }
  .about__headlist {
    width: 75vw;
    margin-right: 12%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 130%;
  }
  .about__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .list__point {
    color: #961914;
    padding-bottom: 3%;
  }
  .list__text {
    color: #434242;
  }
  .about__image {
    width: 86.8vw;
    height: auto;
  }
  .about__diet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86.8vw;
    height: 65vh;
    background: #ead1d0;

    background-image: url("/assests/img/about_wave.svg");
    background-repeat: no-repeat;
    background-position-x: 30%;
  }
  .diet__puppy {
    margin-right: 20%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 0%;
  }
  .diet__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 250%;
    white-space: nowrap;
  }
  .diet__point_meat {
    list-style-image: url("/assests/img/about_meat.svg");
    padding-left: 8%;
  }
  .diet__point_bones {
    list-style-image: url(/assests/img/about_bones.svg);
    padding-left: 8%;
  }
  .diet__point_vegs {
    list-style-image: url(/assests/img/about_vegs.svg);
    padding-left: 8%;
  }
  .diet__point_liver {
    list-style-image: url(/assests/img/about_liver.svg);
    padding-left: 8%;
  }
  .diet__point_subprod {
    list-style-image: url(/assests/img/about_subprod.svg);
    padding-left: 8%;
  }
  .diet__point_seeds {
    list-style-image: url(/assests/img/about_seeds.svg);
    padding-left: 8%;
  }
  .diet__point_fruits {
    list-style-image: url(/assests/img/about_fruits.svg);
    padding-left: 8%;
  }
  .rations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    background-image: url("/assests/img/rations_ellipse.svg");
    background-repeat: no-repeat;
    background-position-x: 54vw;
    background-position-y: 5vh;
  }
  .rations__headline {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .rations__adultdog {
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
  }
  .rations__meat {
    margin-top: 0%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__discription {
    width: 70%;
    height: 20%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 140%;
    text-align: center;
    color: #434242;
  }
  .rations__quantity {
    width: 54%;
    height: 5%;
    margin-top: 0.5%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__button {
    justify-content: center;
    width: 45%;
    height: 3.2em;
    margin-top: 2%;
    border: 1.6px solid #961914;
    border-radius: 0.5rem;
    background-color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    color: #961914;
  }
  /* Лиза — конец кода CSS*/
  /* АННА АННА АННА АННА АННА АННА АННА*/
  .whyZOOOV {
    display: flex;
    flex-direction: column;
  }
  .whyZOOOV h2 {
    position: relative;
    margin-top: 15vh;
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 130%;
  }
  .whyZOOOV div {
    position: relative;
    margin: 0px 20px 46px 24px;
    font-family: "Montserrat";
    font-style: normal;
    color: #000000;
  }
  .whyZOOOV img {
    margin-bottom: 1.73vh;
  }
  .whyZOOOV h3 {
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1.12rem;
  }
  .p {
    margin-bottom: 8vh;
  }
  .LoveAndCare {
    display: flex;
    flex-direction: column;
    height: 235vh;
    left: 7.2vw;
    background: #fff4f3;
  }
  .LoveAndCare h2 {
    position: relative;
    top: 4vh;
    /* width: 25.56vw; */
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .text {
    position: relative;
    top: 1vh;
    width: 88vw;
    left: 7.2vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #434242;
  }
  .pictures {
    display: flex;
    margin-top: 10vh;
    left: 7.2vw;
  }
  .img_L1 {
    position: relative;
    left: 7.2vw;
  }
  .img_L2 {
    position: relative;
    top: 34.7vh;
    left: -20vw;
    width: 55vw;
    height: 37.6vh;
  }
  .img_L3 {
    position: relative;
    top: 7.8vh;
    left: -45vw;
  }
  .img_L4 {
    position: relative;
    top: 22vh;
    left: -130vw;
  }
  /* АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА */
  /*Алена-код CSS*/
  .aboutDelivery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 4em 0em 0em 0em;
    margin-top: 5vh;
    background-color: #ffffff;
  }
  .aboutDelivery__title {
    height: 2.5em;
    left: 1.63em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .aboutDelivery__row {
    max-width: 100%;
  }
  .aboutDelivery__row_arrow {
    position: absolute;
    margin: 6em 0 0 1em;
  }
  .aboutDelivery__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vh;
    margin: 0 0 0 3em;
  }
  .item-about {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 80vh;
    padding: 0.01em;
    margin: 1em;
  }
  .item-about__icon {
    max-width: 100vw;
    padding: 0em;
    margin: 0.2em 0 0 0;
  }
  .item-about__title {
    margin: 0.7em 0 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 130%;
    color: #000000;
  }
  .item-about__text {
    padding: 0.3em;
    margin: 0.2em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    color: #000000;
  }
  .item-about__text_red {
    color: rgba(150, 25, 20, 1);
    border-bottom: 1px solid;
  }
  .FAQ {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }
  .FAQ__title {
    height: 2.5em;
    left: 1.625em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .FAQ__question {
    display: flex;
    width: 100vw;
    padding: 1.2em;
    margin-bottom: 0.5rem;
  }
  .FAQ__question_visible {
    display: flex;
    width: 70vw;
    padding: 0.3em 0.5em 0.3em 0.4em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::-moz-list-bullet {
    list-style-type: none;
  }
  summary::marker {
    display: none;
  }
  summary:after {
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    content: url("../img/FAQ/plusred.png");
  }
  details[open] > summary:after {
    content: url("../img/FAQ/minusred.png");
  }
  summary ~ * {
    padding: 0em 1em 0 1em;
  }

  .FAQ__answer {
    margin: 0.1em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 140%;
    color: #434242;
  }
  .FAQ__line {
    position: relative;
    border-bottom: 0.2px;
  }
  /*Алена-конец кода CSS*/
  /* ALEX ALEX ALEX ALEX ALEX */
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #961914;
    color: #ffffff;
  }
  .footer__headline {
    font-family: "Oswald";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 15% 0 0 10%;
  }
  .footer__link:hover {
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    text-decoration: underline;
  }
  .footer > p {
    font-family: "Montserrat";
    font-size: 1.1rem;
    margin: 5% 10% 0 10%;
  }
  .footer__phone-number {
    font-weight: 700;
  }
  .footer__button {
    margin: 5% 10% 0 10%;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 5% 50%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.1rem;
  }
  #whatsapp-btn {
    background-image: url(../img/whatsapp-logo.png);
    background-color: #9b2420;
  }
  #telegram-btn {
    background-image: url(../img/telegram-logo.png);
    background-color: #9b2420;
  }
  #whatsapp-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #telegram-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .footer form {
    padding: 0 5% 0 5%;
  }
  .footer__form__headline {
    font-family: "Montserrat";
    font-size: 1.3rem;
    margin-left: 5%;
  }
  .footer__form__text{
    font-family: "Montserrat";
    font-size: 1rem;
    margin-left: 5%;
  }
  .footer__form__input {
    width: 85%;
    margin: 3%;
    padding: 3%;
    background-color: #9b2420;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 0.8rem;
  }
  ::placeholder {
    color: #ffffff;
  }
  .footer__button__send {
    background-color: #FFF4F3;
    color: #EC7973;
    border: none;
    width: 90%;
    height: 10%;
    justify-content: center;
    margin: 5% 5% 20% 5%;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
  }
  .footer__button__send:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #checkbox {
    margin-left: 3%;
  }
  .footer label {
    font-family: "Montserrat";
    font-size: 0.7rem;
  }
  .footer > div {
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 2rem;
    background-color: #69120e;
  }
}
/* КЭТ КЭТ КЭТ КЭТ КЭТ КЭТ КЭТ */
@media screen and (min-width: 331px) and (max-width: 480px) {
  .error,
  .error_text,
  .error_dev {
    display: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    /*border: 3px solid red;*/
    position: fixed;
    top: 1%;
    right: 57%;
    width: 3%;
    height: 4%;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.22vh;
    background-color: #989595;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -1vh;
  }
  .menu__btn > span::after {
    content: "";
    top: 1vh;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 1vh 0;
    list-style: none;
    background-color: #fffafa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -1vh;
    margin-bottom: 2vh;
    zoom: 0.9;
  }
  .static {
    display: inline-block;
    width: 100vw;
    z-index: 2;
    height: 6vh;
    position: fixed;
  }
  .static__header {
    display: inline-block;
    position: fixed;
    height: 6vh;
  }
  .static__header_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0vh;
    padding-top: 0.5vh;
    padding-left: 4.5vw;
    margin-bottom: 0vh;
    zoom: 0.8;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2.2%;
    margin-bottom: 7%;
    margin-left: -36%;
    margin-right: 7%;
    padding-right: 10%;
    color: rgb(11, 11, 11);
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.25s;
  }
  .menu__curve_left {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -120vh;
  }
  .menu__curve_right {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 15vh;
    margin-left: 20vw;
  }
  .menu__item_button-choose-diet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    background-color: rgba(150, 25, 20, 1);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    width: 60vw;
    height: 6.5vh;
    text-align: center;
  }
  .menu__item_button-choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
    text-align: center;
  }
  .startPage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/DogMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .startPage__texts {
    display: flex;
    flex-direction: row;
  }
  .startPage__texts_titleMobile {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 5%;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 19%;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.55em;
    font-family: "Oswald", sans-serif, bold;
    letter-spacing: 0.02rem;
    line-height: 130%;
  }
  .startPage__texts_ellipse {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-right: 0%; */
    /* margin-left: 0%; */
    /* margin-top: -20%; */
    position: absolute;
    top: 40.5%;
    right: 100%;
    left: 5%;
    zoom: 1.2;
    transform: matrix(1, -0.09, 0.14, 1, 0, 0);
}
  .startPage__description {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50%;
    margin-left: -77%;
    /* margin-right: 0%; */
    /* padding-top: 19%; */
    padding-right: 55%;
    /* padding-left: 0%; */
    padding-bottom: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    line-height: 135%;
}
.startPage__button_choose-diet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 287%;
  margin-left: -273%;
  background-color: rgba(150, 25, 20, 1);
  border-radius: 10px;
  /* color: #ffffff; */
  /* text-align: center; */
  font-family: "Montserrat", "Montserrat bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 55vw;
  height: 6vh;
  text-align: center;
}
  .startPage__button_choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 14%; */
    /* margin-bottom: 6%; */
  }
  .startPage__ZOOOV {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 129%;
    margin-left: -140%;
    /* border: 2px solid red; */
}
  .menu__item:hover {
    color: rgba(117, 17, 13, 1);
    text-decoration: underline;
    cursor: pointer;
  }

  .menu__item_button-choose-diet:hover,
  .startPage__button_choose-diet:hover,
  .startPage__buton:hover {
    background-color: rgba(117, 17, 13, 1);
    cursor: pointer;
  }
  /* Лиза — начало кода CSS*/
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  .about__headline {
    width: 90%;
    margin-bottom: 1vh;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .about__description {
    width: 87vw;
    margin-bottom: 1vh;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #434242;
  }
  .about__headlist {
    width: 75vw;
    margin-right: 12%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 130%;
  }
  .about__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .list__point {
    color: #961914;
    padding-bottom: 3%;
  }
  .list__text {
    color: #434242;
  }
  .about__image {
    width: 86.8vw;
    height: auto;
  }
  .about__diet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86.8vw;
    height: 65vh;
    background: #ead1d0;

    background-image: url("/assests/img/about_wave.svg");
    background-repeat: no-repeat;
    background-position-x: 30%;
  }
  .diet__puppy {
    margin-right: 20%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 0%;
  }
  .diet__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 250%;
    white-space: nowrap;
  }
  .diet__point_meat {
    list-style-image: url("/assests/img/about_meat.svg");
    padding-left: 8%;
  }
  .diet__point_bones {
    list-style-image: url(/assests/img/about_bones.svg);
    padding-left: 8%;
  }
  .diet__point_vegs {
    list-style-image: url(/assests/img/about_vegs.svg);
    padding-left: 8%;
  }
  .diet__point_liver {
    list-style-image: url(/assests/img/about_liver.svg);
    padding-left: 8%;
  }
  .diet__point_subprod {
    list-style-image: url(/assests/img/about_subprod.svg);
    padding-left: 8%;
  }
  .diet__point_seeds {
    list-style-image: url(/assests/img/about_seeds.svg);
    padding-left: 8%;
  }
  .diet__point_fruits {
    list-style-image: url(/assests/img/about_fruits.svg);
    padding-left: 8%;
  }
  .rations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    background-image: url("/assests/img/rations_ellipse.svg");
    background-repeat: no-repeat;
    background-position-x: 54vw;
    background-position-y: 5vh;
  }
  .rations__headline {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .rations__adultdog {
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
  }
  .rations__meat {
    margin-top: 0%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__discription {
    width: 70%;
    height: 20%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 140%;
    text-align: center;
    color: #434242;
  }
  .rations__quantity {
    width: 54%;
    height: 5%;
    margin-top: 0.5%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__button {
    justify-content: center;
    width: 45%;
    height: 3.2em;
    margin-top: 2%;
    border: 1.6px solid #961914;
    border-radius: 0.5rem;
    background-color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    color: #961914;
  }
  /* Лиза — конец кода CSS*/
  /* АННА АННА АННА АННА АННА АННА АННА*/
  .whyZOOOV {
    display: flex;
    flex-direction: column;
  }
  .whyZOOOV h2 {
    position: relative;
    margin-top: 15vh;
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 130%;
  }
  .whyZOOOV div {
    position: relative;
    margin: 0px 20px 46px 24px;
    font-family: "Montserrat";
    font-style: normal;
    color: #000000;
  }
  .whyZOOOV img {
    margin-bottom: 1.73vh;
  }
  .whyZOOOV h3 {
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1.12rem;
  }
  .p {
    margin-bottom: 8vh;
  }
  .LoveAndCare {
    display: flex;
    flex-direction: column;
    height: 235vh;
    left: 7.2vw;
    background: #fff4f3;
  }
  .LoveAndCare h2 {
    position: relative;
    top: 4vh;
    /* width: 25.56vw; */
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .text {
    position: relative;
    top: 1vh;
    width: 88vw;
    left: 7.2vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #434242;
  }
  .pictures {
    display: flex;
    margin-top: 10vh;
    left: 7.2vw;
  }
  .img_L1 {
    position: relative;
    left: 7.2vw;
  }
  .img_L2 {
    position: relative;
    top: 34.7vh;
    left: -20vw;
    width: 55vw;
    height: 37.6vh;
  }
  .img_L3 {
    position: relative;
    top: 7.8vh;
    left: -45vw;
  }
  .img_L4 {
    position: relative;
    top: 22vh;
    left: -130vw;
  }
  /* АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА */
  /*Алена-код CSS*/
  .aboutDelivery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 4em 0em 0em 0em;
    margin-top: 5vh;
    background-color: #ffffff;
  }
  .aboutDelivery__title {
    height: 2.5em;
    left: 1.63em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .aboutDelivery__row {
    max-width: 100%;
  }
  .aboutDelivery__row_arrow {
    position: absolute;
    margin: 6em 0 0 1em;
  }
  .aboutDelivery__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vh;
    margin: 0 0 0 3em;
  }
  .item-about {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 80vh;
    padding: 0.01em;
    margin: 1em;
  }
  .item-about__icon {
    max-width: 100vw;
    padding: 0em;
    margin: 0.2em 0 0 0;
  }
  .item-about__title {
    margin: 0.7em 0 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 130%;
    color: #000000;
  }
  .item-about__text {
    padding: 0.3em;
    margin: 0.2em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    color: #000000;
  }
  .item-about__text_red {
    color: rgba(150, 25, 20, 1);
    border-bottom: 1px solid;
  }
  .FAQ {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }
  .FAQ__title {
    height: 2.5em;
    left: 1.625em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .FAQ__question {
    display: flex;
    width: 100vw;
    padding: 1.2em;
    margin-bottom: 0.5rem;
  }
  .FAQ__question_visible {
    display: flex;
    width: 70vw;
    padding: 0.3em 0.5em 0.3em 0.4em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::-moz-list-bullet {
    list-style-type: none;
  }
  summary::marker {
    display: none;
  }
  summary:after {
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    content: url("../img/FAQ/plusred.png");
  }
  details[open] > summary:after {
    content: url("../img/FAQ/minusred.png");
  }
  summary ~ * {
    padding: 0em 1em 0 1em;
  }

  .FAQ__answer {
    margin: 0.1em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 140%;
    color: #434242;
  }
  .FAQ__line {
    position: relative;
    border-bottom: 0.2px;
  }
  /*Алена-конец кода CSS*/
  /* ALEX ALEX ALEX ALEX ALEX */
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #961914;
    color: #ffffff;
  }
  .footer__headline {
    font-family: "Oswald";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 15% 0 0 10%;
  }
  .footer__link:hover {
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    text-decoration: underline;
  }
  .footer > p {
    font-family: "Montserrat";
    font-size: 1.1rem;
    margin: 5% 10% 0 10%;
  }
  .footer__phone-number {
    font-weight: 700;
  }
  .footer__button {
    margin: 5% 10% 0 10%;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 5% 50%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.1rem;
  }
  #whatsapp-btn {
    background-image: url(../img/whatsapp-logo.png);
    background-color: #9b2420;
  }
  #telegram-btn {
    background-image: url(../img/telegram-logo.png);
    background-color: #9b2420;
  }
  #whatsapp-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #telegram-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .footer form {
    padding: 0 5% 0 5%;
  }
  .footer__form__headline {
    font-family: "Montserrat";
    font-size: 1.3rem;
    margin-left: 5%;
  }
  .footer__form__text{
    font-family: "Montserrat";
    font-size: 1rem;
    margin-left: 5%;
  }
  .footer__form__input {
    width: 85%;
    margin: 3%;
    padding: 3%;
    background-color: #9b2420;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 0.8rem;
  }
  ::placeholder {
    color: #ffffff;
  }
  .footer__button__send {
    background-color: #FFF4F3;
    color: #EC7973;
    border: none;
    width: 90%;
    justify-content: center;
    margin: 5% 5% 10% 5%;
    padding: 5%;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
  }
  .footer__button__send:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #checkbox {
    margin-left: 3%;
  }
  .footer label {
    font-family: "Montserrat";
    font-size: 0.7rem;
  }
  .footer > div {
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 2rem;
    background-color: #69120e;
  }
}
/* КЭТ КЭТ КЭТ КЭТ КЭТ КЭТ КЭТ */
@media screen and (min-width: 331px) and (max-width: 480px) {
  .error,
  .error_text,
  .error_dev {
    display: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    /*border: 3px solid red;*/
    position: fixed;
    top: 1%;
    right: 57%;
    width: 3%;
    height: 4%;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.22vh;
    background-color: #989595;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -1vh;
  }
  .menu__btn > span::after {
    content: "";
    top: 1vh;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 1vh 0;
    list-style: none;
    background-color: #fffafa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -1vh;
    margin-bottom: 2vh;
    zoom: 0.9;
  }
  .static {
    display: inline-block;
    width: 100vw;
    z-index: 2;
    height: 6vh;
    position: fixed;
  }
  .static__header {
    display: inline-block;
    position: fixed;
    height: 6vh;
  }
  .static__header_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0vh;
    padding-top: 0.5vh;
    padding-left: 4.5vw;
    margin-bottom: 0vh;
    zoom: 0.8;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2.2%;
    margin-bottom: 7%;
    margin-left: -36%;
    margin-right: 7%;
    padding-right: 10%;
    color: rgb(11, 11, 11);
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.25s;
  }
  .menu__curve_left {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -120vh;
  }
  .menu__curve_right {
    display: none;
    opacity: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 15vh;
    margin-left: 20vw;
  }
  .menu__item_button-choose-diet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    background-color: rgba(150, 25, 20, 1);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", "Montserrat Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    width: 60vw;
    height: 6.5vh;
    text-align: center;
  }
  .menu__item_button-choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
    text-align: center;
  }
  .startPage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/DogMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .startPage__texts {
    display: flex;
    flex-direction: row;
  }
  .startPage__texts_titleMobile {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 5%;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 19%;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.55em;
    font-family: "Oswald", sans-serif, bold;
    letter-spacing: 0.02rem;
    line-height: 130%;
  }
  .startPage__texts_ellipse {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-right: 0%; */
    /* margin-left: 0%; */
    /* margin-top: -20%; */
    position: absolute;
    top: 40.5%;
    right: 100%;
    left: 5%;
    zoom: 1.2;
    transform: matrix(1, -0.09, 0.14, 1, 0, 0);
}
  .startPage__description {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50%;
    margin-left: -74%;
    /* margin-right: 0%; */
    /* padding-top: 19%; */
    padding-right: 55%;
    /* padding-left: 0%; */
    padding-bottom: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    line-height: 135%;
}
.startPage__button_choose-diet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 297%;
  margin-left: -273%;
  background-color: rgba(150, 25, 20, 1);
  border-radius: 10px;
  /* color: #ffffff; */
  /* text-align: center; */
  font-family: "Montserrat", "Montserrat bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 55vw;
  height: 6vh;
  text-align: center;
}
  .startPage__button_choose-diet-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 14%; */
    /* margin-bottom: 6%; */
  }
  .startPage__ZOOOV {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 129%;
    margin-left: -140%;
    /* border: 2px solid red; */
}
  .menu__item:hover {
    color: rgba(117, 17, 13, 1);
    text-decoration: underline;
    cursor: pointer;
  }
  .menu__item_button-choose-diet:hover,
  .startPage__button_choose-diet:hover,
  .startPage__buton:hover {
    background-color: rgba(117, 17, 13, 1);
    cursor: pointer;
  }
  /* Лиза — начало кода CSS*/
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  .about__headline {
    width: 90%;
    margin-bottom: 1vh;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .about__description {
    width: 87vw;
    margin-bottom: 1vh;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #434242;
  }
  .about__headlist {
    width: 75vw;
    margin-right: 12%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 130%;
  }
  .about__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .list__point {
    color: #961914;
    padding-bottom: 3%;
  }
  .list__text {
    color: #434242;
  }
  .about__image {
    width: 86.8vw;
    height: auto;
  }
  .about__diet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86.8vw;
    height: 65vh;
    background: #ead1d0;

    background-image: url("/assests/img/about_wave.svg");
    background-repeat: no-repeat;
    background-position-x: 30%;
  }
  .diet__puppy {
    margin-right: 20%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 0%;
  }
  .diet__list {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 250%;
    white-space: nowrap;
  }
  .diet__point_meat {
    list-style-image: url("/assests/img/about_meat.svg");
    padding-left: 8%;
  }
  .diet__point_bones {
    list-style-image: url(/assests/img/about_bones.svg);
    padding-left: 8%;
  }
  .diet__point_vegs {
    list-style-image: url(/assests/img/about_vegs.svg);
    padding-left: 8%;
  }
  .diet__point_liver {
    list-style-image: url(/assests/img/about_liver.svg);
    padding-left: 8%;
  }
  .diet__point_subprod {
    list-style-image: url(/assests/img/about_subprod.svg);
    padding-left: 8%;
  }
  .diet__point_seeds {
    list-style-image: url(/assests/img/about_seeds.svg);
    padding-left: 8%;
  }
  .diet__point_fruits {
    list-style-image: url(/assests/img/about_fruits.svg);
    padding-left: 8%;
  }
  .rations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    background-image: url("/assests/img/rations_ellipse.svg");
    background-repeat: no-repeat;
    background-position-x: 54vw;
    background-position-y: 5vh;
  }
  .rations__headline {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .rations__adultdog {
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
  }
  .rations__meat {
    margin-top: 0%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__discription {
    width: 70%;
    height: 20%;
    margin-bottom: 1%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 140%;
    text-align: center;
    color: #434242;
  }
  .rations__quantity {
    width: 54%;
    height: 5%;
    margin-top: 0.5%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 130%;
    color: #9f9e9d;
  }
  .rations__button {
    justify-content: center;
    width: 45%;
    height: 3.2em;
    margin-top: 2%;
    border: 1.6px solid #961914;
    border-radius: 0.5rem;
    background-color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    color: #961914;
  }
  /* Лиза — конец кода CSS*/
  /* АННА АННА АННА АННА АННА АННА АННА*/
  .whyZOOOV {
    display: flex;
    flex-direction: column;
  }
  .whyZOOOV h2 {
    position: relative;
    margin-top: 15vh;
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 130%;
  }
  .whyZOOOV div {
    position: relative;
    margin: 0px 20px 46px 24px;
    font-family: "Montserrat";
    font-style: normal;
    color: #000000;
  }
  .whyZOOOV img {
    margin-bottom: 1.73vh;
  }
  .whyZOOOV h3 {
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1.12rem;
  }
  .p {
    margin-bottom: 8vh;
  }
  .LoveAndCare {
    display: flex;
    flex-direction: column;
    height: 235vh;
    left: 7.2vw;
    background: #fff4f3;
  }
  .LoveAndCare h2 {
    position: relative;
    top: 4vh;
    /* width: 25.56vw; */
    left: 7.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .text {
    position: relative;
    top: 1vh;
    width: 88vw;
    left: 7.2vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #434242;
  }
  .pictures {
    display: flex;
    margin-top: 10vh;
    left: 7.2vw;
  }
  .img_L1 {
    position: relative;
    left: 7.2vw;
  }
  .img_L2 {
    position: relative;
    top: 34.7vh;
    left: -20vw;
    width: 55vw;
    height: 37.6vh;
  }
  .img_L3 {
    position: relative;
    top: 7.8vh;
    left: -45vw;
  }
  .img_L4 {
    position: relative;
    top: 22vh;
    left: -130vw;
  }
  /* АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА АЛЁНА */
  /*Алена-код CSS*/
  .aboutDelivery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 4em 0em 0em 0em;
    margin-top: 5vh;
    background-color: #ffffff;
  }
  .aboutDelivery__title {
    height: 2.5em;
    left: 1.63em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .aboutDelivery__row {
    max-width: 100%;
  }
  .aboutDelivery__row_arrow {
    position: absolute;
    margin: 6em 0 0 1em;
  }
  .aboutDelivery__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vh;
    margin: 0 0 0 3em;
  }
  .item-about {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 80vh;
    padding: 0.01em;
    margin: 1em;
  }
  .item-about__icon {
    max-width: 100vw;
    padding: 0em;
    margin: 0.2em 0 0 0;
  }
  .item-about__title {
    margin: 0.7em 0 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 130%;
    color: #000000;
  }
  .item-about__text {
    padding: 0.3em;
    margin: 0.2em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    color: #000000;
  }
  .item-about__text_red {
    color: rgba(150, 25, 20, 1);
    border-bottom: 1px solid;
  }
  .FAQ {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }
  .FAQ__title {
    height: 2.5em;
    left: 1.625em;
    top: 368.6em;
    margin: 1em 0em 0em 0em;
    padding: 1em 0 0.3em 0.8em;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: start;
    color: #000000;
  }
  .FAQ__question {
    display: flex;
    width: 100vw;
    padding: 1.2em;
    margin-bottom: 0.5rem;
  }
  .FAQ__question_visible {
    display: flex;
    width: 70vw;
    padding: 0.3em 0.5em 0.3em 0.4em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::-moz-list-bullet {
    list-style-type: none;
  }
  summary::marker {
    display: none;
  }
  summary:after {
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    content: url("../img/FAQ/plusred.png");
  }
  details[open] > summary:after {
    content: url("../img/FAQ/minusred.png");
  }
  summary ~ * {
    padding: 0em 1em 0 1em;
  }

  .FAQ__answer {
    margin: 0.1em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 140%;
    color: #434242;
  }
  .FAQ__line {
    position: relative;
    border-bottom: 0.2px;
  }
  /*Алена-конец кода CSS*/
  /* ALEX ALEX ALEX ALEX ALEX */
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #961914;
    color: #ffffff;
  }
  .footer__headline {
    font-family: "Oswald";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 15% 0 0 10%;
  }
  .footer__link:hover {
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    text-decoration: underline;
  }
  .footer > p {
    font-family: "Montserrat";
    font-size: 1.1rem;
    margin: 5% 10% 0 10%;
  }
  .footer__phone-number {
    font-weight: 700;
  }
  .footer__button {
    margin: 5% 10% 0 10%;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 5% 50%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.1rem;
  }
  #whatsapp-btn {
    background-image: url(../img/whatsapp-logo.png);
    background-color: #9b2420;
  }
  #telegram-btn {
    background-image: url(../img/telegram-logo.png);
    background-color: #9b2420;
  }
  #whatsapp-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #telegram-btn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .footer form {
    padding: 0 5% 0 5%;
  }
  .footer__form__headline {
    font-family: "Montserrat";
    font-size: 1.3rem;
    margin-left: 5%;
  }
  .footer__form__text{
    font-family: "Montserrat";
    font-size: 1rem;
    margin-left: 5%;
  }
  .footer__form__input {
    width: 85%;
    margin: 3%;
    padding: 3%;
    background-color: #9b2420;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 0.8rem;
  }
  ::placeholder {
    color: #ffffff;
  }
  .footer__button__send {
    background-color: #FFF4F3;
    color: #EC7973;
    border: none;
    width: 90%;
    justify-content: center;
    margin: 5% 5% 10% 5%;
    padding: 5%;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
  }
  .footer__button__send:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  #checkbox {
    margin-left: 3%;
  }
  .footer label {
    font-family: "Montserrat";
    font-size: 0.7rem;
  }
  .footer > div {
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 2rem;
    background-color: #69120e;
  }
}