@media (max-width: 480) {
  .container {
    height: auto;
    width: 375px;
  }
  .header {
  }
  .main {
  }
  .startPage {
  }
  .about {
  }
  .rations {
  }
  .whyZOOOV {
  }
  .loveAndCare {
  }
  section.aboutDelivery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 4em 0em 0em 0em;
  }
  div.aboutDelivery__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  div.aboutDelivery__column {
    width: 22%;
  }
  section.item-about {
    position: relative;
    width: 295px;
    height: 154px;
    left: 56px;
    top: 6035px;
    display: flex;
    padding: 0.5em;
    margin: 0 0 0 1em;
    width: 15vw;
    margin: 0em 0em 0em 0.8em;
    justify-content: center;
    align-items: center;
  }
  .item-about__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 56px;
    top: 6035px;
  }
  h4.item-about__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }
  .item-about__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
  }
  .FAQ {
  }
  .footer {
  }
}
